<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ytasia.dictionary">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <activity android:name="com.ytasia.dict.view.activity.MainActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>

        <activity android:name="com.ytasia.dict.view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.ytasia.dict.view.activity.EntryQuizMainActivity" />
        <activity android:name="com.ytasia.dict.view.activity.KanjiQuizMainActivity" />
        <activity android:name="com.ytasia.dict.view.activity.EntryViewActivity" />
        <activity android:name="com.ytasia.dict.view.activity.KanjiViewActivity" />
        <activity android:name="com.ytasia.dict.view.activity.EntryEditActivity" />
        <activity android:name="com.ytasia.dict.view.activity.EntryAddActivity" />
        <activity android:name="com.ytasia.dict.view.activity.AppSettingActivity" />
        <activity android:name="com.ytasia.dict.view.activity.FeedbackActivity" />
        <activity android:name="com.ytasia.dict.view.activity.EntryQuizPlayActivity" />
        <activity android:name="com.ytasia.dict.view.activity.KanjiQuizPlayActivity" />
        <activity android:name="com.ytasia.dict.view.activity.UpgradeActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
