<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ytasia.dictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
           />
        <activity android:name=".MainActivity" />
        <activity android:name=".EntryQuizMainActivity" />
        <activity android:name=".KanjiQuizMainActivity" />
        <activity android:name=".EntryViewActivity" />
        <activity android:name=".KanjiViewActivity" />
        <activity android:name=".EntryEditActivity" />
        <activity android:name=".EntryAddActivity" />
        <activity android:name=".AppSettingActivity" />
        <activity android:name=".FeedbackActivity" />


        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".EntryQuizPlayActivity" />
        <activity android:name=".KanjiQuizPlayActivity" />
        <activity android:name=".UpgradeActivity"></activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
