<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ytasia.dictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.ytasia.ytdict.view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ytasia.ytdict.view.activity.EntryQuizMainActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.KanjiQuizMainActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.EntryViewActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.KanjiViewActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.EntryEditActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.EntryAddActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.AppSettingActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.FeedbackActivity" />


        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.EntryQuizPlayActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.KanjiQuizPlayActivity" />
        <activity android:name="com.ytasia.ytdict.view.activity.UpgradeActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
